.profile img {
    width: 50px; /* 画像の横幅を300pxに */
    height: auto; /* 縦横比を維持 */
    border-radius: 50%;
    border: 3px solid #333;
    display: block;
    margin: 20px auto; /* 上下20pxの余白＋中央寄せ */
}
